{% load crispy_forms_tags %}
{% load static %}
<div class="card-body">
  <form method="POST" enctype="multipart/form-data" data-url="{% if is_Create %}{% url 'waterworks_year_create_api' %}{% else %}{% url 'waterworks_year_update_save_api' year.id %}{% endif %}" class="custom-form">
    {{form|crispy}}
    <button type="submit" class="btn btn-{{btn_name}}">{{btn_title}}</button>
  </form>
</div>
{% block 'script' %}
<script>
  $(document).ready(function () {
    var csrftoken = getCookie('csrftoken');

    $(".custom-form").submit(function (event) {
      event.preventDefault();
      var form = $(this);
      $.ajax({
        url: form.attr('data-url'),
        data: form.serialize(),
        type: form.attr('method'),
        dataType: 'json',
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
        success: function(data){
          Toast.fire({
            type: data.message_type,
            title: data.message_title
          });
          form_load();
          if (data.url){
            window.location.href = data.url;
          }
        },
        error:function(error){
          Toast.fire({
            type: 'error',
            title: 'ERROR Connection Lost.'
          });
        },

      })
      return false;
    });

  });

</script>
{% endblock %}
