{% extends 'waterworks/base.html' %}
{% load static %}

{% block 'content' %}
<div class="col-md-12">
  <h5>Barangay</h5>
  <hr>

</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      <table>
        <td>
          <a href="#" type="button" class="btn btn-primary" name="button"><i class="feather icon-user-plus mr-2"></i>New</a>
        </td>
      </table>
      <div class="card-header-right">
        <table>
          <tr>
            <td>
              <input type="search" class="form-control float-right mr-1" placeholder="Search...." name="search" id="search">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table border table-hover">
          <thead>
            <tr>
              <th width="5%">#</th>
              <th>Name</th>
              <th width="5%">Status</th>
              <th width="10%">Action</th>
            </tr>
          </thead>
          <tbody id="table-profile-ajax">
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer p-1">
      <ul class="pagination">
        <li class="page-item" id="page_prev"><button class="page-link" id="button_prev" href="#!">Prev</button></li>
        <li class="page-item" id="page_next"><button class="page-link" id="button_next" href="#!">Next</button></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}


{% block 'script' %}
<script>
  var start = 0;
  var end = 10;
  var counts=20;
  function disabled(){
    if (start === 0){
      $("#page_prev").addClass("disabled", true);
    }else{
      $("#page_prev").removeClass("disabled", false);
    }
    if (end >= counts){
      $("#page_next").addClass("disabled", true);
    }else{
      $("#page_next").removeClass("disabled", false);
    }
  }
  function filterload(start,end){
    var search = $("#search").val();
    $.ajax({
      url: '#',
      type: 'get',
      data: {start:start,end:end,search:search},
      dataType: 'json',
      success:function(data){
        counts = data.counter;
        // $('#counter').html(data.counter + " record(s) found");
        $('#table-profile-ajax').html(data.profile_table);
      },
    });
  };
  $('#button_prev').click(function() {
    start-=10
    end-=10
    filterload(start,end);
    disabled();
  });
  $('#button_next').click(function() {
    start+=10
    end+=10
    filterload(start,end);
    disabled();
  });
  $('#search').change(function() {
    start = 0;
    end = 10;
    filterload(start,end);
    disabled();
  });
  filterload(start,end);
  disabled();
</script>

{% endblock %}
