{% extends 'waterworks/base.html' %}
{% load static %}

{% block 'content' %}
<div class="col-md-12">
  <h5>Barangay</h5>
  <hr>

</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      <table>
        <td>
          <a href="#" type="button" class="btn btn-primary" name="button"><i class="feather icon-user-plus mr-2"></i>New</a>
        </td>
      </table>
      <div class="card-header-right">
        <table>
          <tr>
            <td>
              <input type="search" class="form-control float-right mr-1" placeholder="Search...." name="search" id="search">
            </td>

          </tr>
        </table>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table border table-hover">
          <thead>
            <tr>
              <th width="5%">#</th>
              <th>Name</th>
              <th width="5%">Status</th>
              <th width="10%">Action</th>
            </tr>
          </thead>
          <tbody id="table-profile-ajax">
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer p-1" id="counter">
      <nav aria-label="Page navigation example" class="p-0 m-0">
				<ul class="pagination">
					<li class="page-item disabled"><button class="page-link" href="#!">Prev</button></li>
					<li class="page-item"><button class="page-link" href="#!">Next</button></li>
				</ul>
			</nav>
    </div>
  </div>
</div>
{% endblock %}


{% block 'script' %}
<script>
  function filterload(){
    var filter = $("#filter").val();
    var search = $("#search").val();

    $.ajax({
      url: '#',
      type: 'get',
      data: {filter:filter,search:search},
      dataType: 'json',
      success:function(data){
        $('#counter').html(data.counter + " record(s) found");
        $('#table-profile-ajax').html(data.profile_table);
      },
    });

  };

  $('#filter').change(function() {
    filterload();
  });
  $('#search').change(function() {
    filterload();
  });
  filterload();
</script>

{% endblock %}
