{% extends 'waterworks/base.html' %}
{% load static %}


{% block 'content' %}
<div class="col-12" id="dashboard_content">
  {% if status %}
  <div class="alert alert-danger" role="alert">
      {{counter}} profile unreading record(s)
  </div>
  {% endif %}
  <div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-body p-2">
          <h6 class="text-white">PROFILES</h6>
          <h3 class="text-right text-white"><i class="fa fa-users float-left"></i><span>{{total_profile}}</span></h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-body p-2">
          <h6 class="text-white">NEW</h6>
          <h3 class="text-right text-white"><i class="fa fa-users float-left"></i><span>{{total_new}}</span></h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-body p-2">
          <h6 class="text-white">YEARLY CONSUMPTION</h6>
          <h3 class="text-right text-white"><i class="fa fa-tachometer-alt float-left"></i><span>{{yearly_consumption}} <small>m³</small></span></h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-red order-card">
        <div class="card-body p-2">
          <h6 class="text-white">MONTHLY CONSUMPTION</h6>
          <h3 class="text-right text-white"><i class="fa fa-tachometer-alt float-left"></i><span>{{monthly_consumption}} <small>m³</small></span></h3>
        </div>
      </div>
    </div>
    <!-- order-card end -->
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header p-2">
          <h5>CLASSIFICATION <small>(active only)</small></h5>
        </div>
        <div class="card-body p-2">
          <div id="classification-pie"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header p-2">
          <h5>BARANGAY <small>(active only)</small></h5>
        </div>
        <div class="card-body p-2">
          <div id="barangay-pie"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header p-2">
          <h5>Bar chart</h5>
        </div>
        <div class="card-body">
          <div id="bar-chart-1"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header p-2">
          <h5>Bar chart</h5>
        </div>
        <div class="card-body">
          <div id="bar-chart-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block 'script' %}
<script type="text/javascript">
  $(document).ready(function() {
    $(function() {
      var options = {
        chart: {
          height: 320,
          type: 'donut',
        },
        labels: [{% for p in barangay_name_list %}"{{p.barangay__name}}",{% endfor %}],
        series: [{% for p in barangay_name_list %}{{p.counter}},{% endfor %}],
        // colors: ["#4099ff", "#0e9e4a", "#00bcd4", "#FFB64D", "#FF5370"],
        legend: {
          show: true,
          position: 'bottom',
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'light',
            inverseColors: true,
          }
        },
        dataLabels: {
          enabled: true,
          dropShadow: {
            enabled: false,
          }
        },
        responsive: [{
          breakpoint: 480,
          options: {
            legend: {
              position: 'bottom'
            }
          }
        }]
      }
      var chart = new ApexCharts(
      document.querySelector("#barangay-pie"),
      options
      );
      chart.render();
    });
    $(function() {
      var options = {
        chart: {
          height: 320,
          type: 'pie',
        },
        labels: [{% for p in classification_name_list %}"{{p.classification__name}}",{% endfor %}],
        series: [{% for p in classification_name_list %}{{p.counter}},{% endfor %}],
        // colors: ["#4099ff", "#0e9e4a", "#00bcd4", "#FFB64D", "#FF5370"],
        legend: {
          show: true,
          position: 'bottom',
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'light',
            inverseColors: true,
          }
        },
        dataLabels: {
          enabled: true,
          dropShadow: {
            enabled: false,
          }
        },
        responsive: [{
          breakpoint: 480,
          options: {
            legend: {
              position: 'bottom'
            }
          }
        }]
      }
      var chart = new ApexCharts(
      document.querySelector("#classification-pie"),
      options
      );
      chart.render();
    });
  });

</script>

{% endblock %}
