{% load mathfilters %}
{% load humanize %}
<div class="row">
    <div class="col-lg-4">
      <div class="card bg-c-green order-card">
        <div class="card-body p-1">
          <h6 class="text-center text-white">SERVICE CHARGE</h6>
          <h5 class="text-center text-white">{{profile.service_charge|intcomma}}</h5>
        </div>
        <div class="card-footer p-0 m-0">
          <button class="btn btn-block btn-primary" type="button" name="button"><i class="feather icon-briefcase text-white mr-2"></i>PAYMENT</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card bg-c-green order-card">
        <div class="card-body p-1">
          <h6 class="text-center text-white">METER CHARGE</h6>
          <h5 class="text-center text-white">{{profile.water_meter_charge|intcomma}}</h5>
        </div>
        <div class="card-footer p-0 m-0">
          <button class="btn btn-block btn-primary" type="button" name="button"><i class="feather icon-briefcase text-white mr-2"></i>PAYMENT</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card bg-c-green order-card">
        <div class="card-body p-1">
          <h6 class="text-center text-white">RECONNECTION CHARGE</h6>
          <h5 class="text-center text-white">{{profile.reconnection_charge|intcomma}}</h5>
        </div>
        <div class="card-footer p-0 m-0">
          <button class="btn btn-block btn-primary" type="button" name="button"><i class="feather icon-briefcase text-white mr-2"></i>PAYMENT</button>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header p-0">
        <h5>Bar chart</h5>
      </div>
      <div class="card-body">
        <div id="bar-chart-1"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header p-0">
        <h5>Bar chart</h5>
      </div>
      <div class="card-body">
        <div id="bar-chart-3"></div>
      </div>
    </div>
  </div>

</div>

{% block 'script' %}
<script type="text/javascript">
  $(document).ready(function() {
    $(function() {
      var options = {
        chart: {
          height: 350,
          type: 'bar',
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '55%',
            endingShape: 'rounded'
          },
        },
        dataLabels: {
          enabled: false
        },
        colors: ["#0e9e4a", "#4099ff", "#FF5370"],
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent']
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'light',
            type: "vertical",
            shadeIntensity: 0.25,
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 0.7,
            stops: [50, 100]
          },
        },
        series: [{
          name: 'Net Profit',
          data: [44, 55, 57, 56, 61, 58, 63]
        }, {
          name: 'Revenue',
          data: [76, 85, 101, 98, 87, 105, 91]
        }, {
          name: 'Free Cash Flow',
          data: [35, 41, 36, 26, 45, 48, 52]
        }],
        xaxis: {
          categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug'],
        },
        yaxis: {
          title: {
            text: '$ (thousands)'
          }
        },
        tooltip: {
          y: {
            formatter: function(val) {
              return "$ " + val + " thousands"
            }
          }
        }
      }
      var chart = new ApexCharts(
      document.querySelector("#bar-chart-1"),
      options
      );
      chart.render();
    });

    $(function() {
      var options = {
        chart: {
          height: 350,
          type: 'line',
        },
        series: [{
          name: 'Website Blog',
          type: 'column',
          data: [440, 505, 414, 671, 227, 413, 201, 352, 752, 320, 257, 160]
        }, {
          name: 'Social Media',
          type: 'line',
          data: [23, 42, 35, 27, 43, 22, 17, 31, 22, 22, 12, 16]
        }],
        stroke: {
          width: [0, 4]
        },
        colors: ["#4099ff", "#FF5370"],
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'light',
            type: "vertical",
            shadeIntensity: 0.25,
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 0.7,
            stops: [50, 100]
          },
        },
        title: {
          text: 'Traffic Sources'
        },
        labels: ['01 Jan 2001', '02 Jan 2001', '03 Jan 2001', '04 Jan 2001', '05 Jan 2001', '06 Jan 2001', '07 Jan 2001', '08 Jan 2001', '09 Jan 2001', '10 Jan 2001', '11 Jan 2001', '12 Jan 2001'],
        xaxis: {
          type: 'datetime'
        },
        yaxis: [{
          title: {
            text: 'Website Blog',
          },

        }, {
          opposite: true,
          title: {
            text: 'Social Media'
          }
        }]

      }
      var chart = new ApexCharts(
      document.querySelector("#bar-chart-3"),
      options
      );
      chart.render();
    });
  });

</script>

{% endblock %}
