{% extends 'waterworks/base.html' %}
{% load static %}
{% load qr_code %}
{% block 'profile_active' %}active{% endblock %}
{% block 'link' %}
  <style>
    .tabbable-panel #tabs{
        background: #007b5e;
        color: #eee;
    }
    .tabbable-panel #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #0062cc;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 3px solid !important;
        font-size: 14px;
        font-weight: bold;
    }
    .tabbable-panel .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #0062cc;
        font-size: 14px;
        font-weight: 600;
    }
    .tabbable-panel .nav-link:hover {
        border: none;
    }
    .tabbable-panel thead{
        background: #f3f3f3;
        color: #333;
    }
    .tabbable-panel a{
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }
  </style>
{% endblock %}
{% block 'content' %}
<div class="col-md-12">
  <h5>{{object.name|upper}}</h5>
  <hr>
</div>
<div class="col-md-3">
  <div class="card">
    <div class="card-body">
      <div class="text-center">
        <!-- <img class="border border-success rounded-circle img-radius wid-130 hig-130" src="{% static 'user_images/user_male.png' %}" width="130px" height="130px" alt="User-Profile-Image"> -->
        {% qr_from_text object.name size="S" %}
      </div>
      <hr>
      <div class="text-center">
        <!-- {{object.name|upper}}<br> -->
        {% if object.meter_installation.status == '1' %}
          {{object.meter_installation.meter_no}}<a href="#"><i class="feather icon-edit ml-2"></i></a>
        {% elif object.meter_installation.status == '2' %}
          {{object.meter_installation.meter_no}}<a href="#"><i class="feather icon-edit ml-2"></i></a>
        {% endif %}
        <p class="text-muted">
          {% if object.meter_installation.status == '1' %}
            <span class="badge badge-success">Active</span>
          {% elif object.meter_installation.status == '2' %}
            <span class="badge badge-danger">Disconnected</span>
          {% elif object.permanently_disconnected %}
            <span class="badge badge-warning">Permanently Disconnected</span>
          {% else %}
            <span class="badge badge-secondary">New</span>
          {% endif %}
          | {{object.classification}}</p>
        <hr>
        <p class="text-muted">{{object.barangay|upper}}</p>
        <hr>
        <a href="{% url 'waterworks_profile_update' object.id %}" type="button" class="btn btn-block btn-warning btn-sm" name="button">Update Info</a>
        {% if object.meter_installation.status == '1' %}
          <a href="{% url 'waterworks_profile_meter_replace_create' object.id %}" type="button" class="btn btn-block btn-success btn-sm" name="button">Replace Meter</a>
          <button type="button" class="btn btn-block btn-info btn-sm" name="button">Change Status</button>
        {% elif object.meter_installation.status == '2' %}
          <button type="button" class="btn btn-block btn-info btn-sm" name="button">Change to active</button>
        {% elif object.permanently_disconnected %}
          <a href="{% url 'waterworks_profile_meter_installation_create' object.id %}" type="button" class="btn btn-block btn-success btn-sm" name="button">Install Meter</a>
        {% else %}
          <a href="{% url 'waterworks_profile_meter_installation_create' object.id %}" type="button" class="btn btn-block btn-success btn-sm" name="button">Install Meter</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="col-md-9">
  <div class="card">
    <div class="card-body p-2">
      <!-- Nav tabs -->
      <div class="tabbable-panel">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#reading" role="tab">Reading</a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#collection" role="tab">Collection</a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#activity" role="tab">Activity</a>
                <div class="slide"></div>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#settings3" role="tab">Settings</a>
                <div class="slide"></div>
            </li> -->
        </ul>
        <!-- Tab panes -->
        <div class="tab-content card-block">
            <div class="tab-pane active" id="overview" role="tabpanel">

            </div>
            <div class="tab-pane" id="reading" role="tabpanel">

            </div>
            <div class="tab-pane" id="collection" role="tabpanel">

            </div>
            <div class="tab-pane" id="activity" role="tabpanel">

            </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block 'script' %}
<script>
  $(document).ready(function () {
    $.ajax({
      url: '{% url 'waterworks_profile_detail_overview_api' object.id %}',
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#overview').html(data.html_form);
      },
    });
  });
  $(document).ready(function () {
    $.ajax({
      url: '{% url 'waterworks_profile_detail_reading_api' object.id %}',
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#reading').html(data.html_form);
      },
    });
  });
  $(document).ready(function () {
    $.ajax({
      url: '{% url 'waterworks_profile_detail_collection_api' object.id %}',
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#collection').html(data.html_form);
      },
    });
  });
  $(document).ready(function () {
    $.ajax({
      url: '{% url 'waterworks_profile_detail_activity_api' object.id %}',
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#activity').html(data.html_form);
      },
    });
  });
</script>

{% endblock %}
