{% extends 'waterworks/base.html' %}
{% load static %}
{% block 'reading_period_active' %}active{% endblock %}
{% block 'maintenance_active' %}pcoded-trigger active{% endblock %}

{% block 'content' %}
<div class="col-md-12">
  <h5>{{object.get_month_display|upper}} {{object.year}}</h5>
  <hr>

</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      PRINT READING SHEET
    </div>
    <div class="card-body p-2">
      <form action="{% url 'waterworks_reading_period_print' object.id %}" target="_blank" method="GET">
        <div class="form-group">
          <label for="">Choose Barangay</label>
          <select class="form-control" name="barangay_id" id="barangay_id">
            {% for p in barangay %}
            <option value="{{p.id}}">{{p.name}}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-secondary btn-sm" name="button"><i class="feather icon-printer mr-2"></i>Print Reading Sheet</button>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-2">
      PRINT BILLING STATEMENT
    </div>
    <div class="card-body p-2">
      <form action="{% url 'waterworks_reading_period_billing_statement_print' object.id %}" target="_blank" method="GET">
        <div class="form-group">
          <label for="">Choose Barangay</label>
          <select class="form-control" name="barangay_id" id="barangay_id">
            {% for p in barangay %}
            <option value="{{p.id}}">{{p.name}}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-sm" name="button"><i class="feather icon-printer mr-2"></i>Print Billing Statement</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
