{% extends 'waterworks/base.html' %}
{% load static %}

{% block 'content' %}
<div class="col-md-12">
  <h5>Reading</h5>
  <hr>

</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      <table>
        <tr>
          <td>Filter</td>
          <td>
            <select class="form-control" name="filter" id="filter">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table border table-hover">
          <thead>
            <tr>
              <th width="5%">#</th>
              <th width="45%">Name</th>
              <th>Address</th>
              <th width="5%">Mobile</th>
              <th width="5%">Status</th>
              <th width="10%">Action</th>
            </tr>
          </thead>
          <tbody id="table-profile-ajax">
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer" id="counter">
    </div>
  </div>
</div>
{% endblock %}


{% block 'script' %}
<script>
  function filterload(){
    var filter = $("#filter").val();
    var search = $("#search").val();

    $.ajax({
      url: '#',
      type: 'get',
      data: {filter:filter,search:search},
      dataType: 'json',
      success:function(data){
        $('#counter').html(data.counter + " record(s) found");
        $('#table-profile-ajax').html(data.profile_table);
      },
    });

  };

  $('#filter').change(function() {
    filterload();
  });
  $('#search').change(function() {
    filterload();
  });
  filterload();
</script>

{% endblock %}
