{% extends 'waterworks/base.html' %}
{% load static %}

{% block 'content' %}
<div class="col-md-12">
  <h5>Year</h5>
  <hr>

</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-header p-3">
      <table>
        <tr>
          <td class="pl-2"><small id="counter"></small></td>
        </tr>
      </table>
      <div class="card-header-right">
        <table>
          <tr>
            <td>
              <input type="search" class="form-control float-right mr-1" placeholder="Search...." name="search" id="search">
            </td>
            <td>
              <a href="{% url 'waterworks_year_create' %}" type="button" class="btn btn-primary" name="button">New</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table border table-hover">
          <thead>
            <tr>
              <th width="5%">#</th>
              <th>Name</th>
              <th width="10%">Action</th>
            </tr>
          </thead>
          <tbody id="year_table">
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer p-1 m-0 text-center">
      <ul class="pagination">
        <li class="page-item" id="page_prev"><button class="page-link" id="button_prev" href="#!">Prev</button></li>
        <li class="page-item" id="page_next"><button class="page-link" id="button_next" href="#!">Next</button></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}


{% block 'script' %}
<script>
  var start = 0;
  var end = 10;
  var counts;
  function disabled(){
    if (start === 0){
      $("#page_prev").addClass("disabled", true);
    }else{
      $("#page_prev").removeClass("disabled", false);
    }
    if (end >= counts){
      $("#page_next").addClass("disabled", true);
    }else{
      $("#page_next").removeClass("disabled", false);
    }
  }
  function load_data(start,end){
    var search = $("#search").val();
    $.ajax({
      url: '{% url 'waterworks_year_table_api' %}',
      type: 'get',
      data: {start:start,end:end,search:search},
      dataType: 'json',
      success:function(data){
        counts = data.counter;
        $('#counter').html(data.counter + " record(s) found");
        $('#year_table').html(data.year);
        disabled();
      },
    });
  };
  $('#button_prev').click(function() {
    start-=10
    end-=10
    load_data(start,end);
  });
  $('#button_next').click(function() {
    start+=10
    end+=10
    load_data(start,end);
  });
  $('#search').change(function() {
    start = 0;
    end = 10;
    load_data(start,end);
  });
  load_data(start,end);
</script>

{% endblock %}
