{% for p in profile %}
<tr>
  <td>{{forloop.counter|add:start}}</td>
  <td>
    {{p.name|upper}}
    {% if p.meter_installation.status == '1' %}
      <span class="badge badge-success">Active</span>
    {% elif p.meter_installation.status == '2' %}
      <span class="badge badge-danger">Disconnected</span>
    {% elif p.permanently_disconnected %}
      <span class="badge badge-warning">Permanently Disconnected</span>
    {% else %}
      <span class="badge badge-secondary">New</span>
    {% endif %}
  </td>
  <td>
    {{ p.barangay }}
  </td>
  <td>
    {{ p.classification }}
  </td>
  <td>
    <a href="{% url 'waterworks_profile_detail' p.id %}" class="btn btn-info btn-sm rounded-circle" name="button"><i class="feather icon-monitor"></i></a>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center">No data available</td>
</tr>
{% endfor %}
