{% for p in reading_period %}
<tr>
  <td>{{forloop.counter|add:start}}</td>
  <td>
    {{p.get_month_display|upper}} {{p.year.name}}
  </td>
  <td>
    {{p.due_date}} - {{p.disconnection_date}}
  </td>
  <td>
    <a href="{% url 'waterworks_reading_period_update' p.id %}" class="btn btn-warning btn-sm rounded-circle" name="button"><i class="feather icon-edit"></i></a>
    <a href="{% url 'waterworks_reading_period_detail' p.id %}" class="btn btn-secondary btn-sm rounded-circle" name="button"><i class="feather icon-printer"></i></a>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center">No data available</td>
</tr>
{% endfor %}
