{% load crispy_forms_tags %}
{% for p in profile %}
<tr>
  <td>{{forloop.counter|add:start}}</td>
  <td>
    <b>{{p.name|upper}}</b>
  </td>
  <td>
    {{p.meter_installation.meter_no}}
  </td>
  <td>
    {{ p.barangay }}
  </td>
  <td>
    {{p.classification}}
  </td>
  <td>
    {{p.meter_installation.reading}}
  </td>

  <td>
    <form method="POST" enctype="multipart/form-data" data-url="{% url 'waterworks_reading_table_create_api' p.id %}" class="custom-form">
      {{form|crispy}}
    </form>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center">No data available</td>
</tr>
{% endfor %}

{% block 'script' %}
<script>
  $(document).ready(function () {
    var csrftoken = getCookie('csrftoken');

    $(".custom-form").submit(function (event) {
      event.preventDefault();
      var form = $(this);
      $.ajax({
        url: form.attr('data-url'),
        data: form.serialize(),
        type: form.attr('method'),
        dataType: 'json',
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
        success: function(data){
          Toast.fire({
            type: data.message_type,
            title: data.message_title
          });
          load_data(start,end);
        },
        error:function(error){
          Toast.fire({
            type: 'error',
            title: 'ERROR Connection Lost.'
          });
        },

      })
      return false;
    });

  });

</script>
{% endblock %}
