{% for p in profile %}
<tr>
  <td>C-{{p.meter_installation.cluster}}</td>
  <td>
    <b>{{p.name|upper}}</b>
  </td>
  <td>
    {{p.meter_installation.meter_no}}
  </td>
  <td>
    <button data-url="{% url 'waterworks_zones_table_cluster_api' p.id %}" type="button" class="btn btn-warning btn-sm rounded-circle form-show-cluster" name="button"><i class="feather icon-edit"></i></button>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center">No data available</td>
</tr>
{% endfor %}
{% block 'script' %}
<script>
  $(document).on('click', '.form-show-cluster', function(){
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType:'json',
      beforeSend: function(){
        $('#modal-show-sm').modal('show');
      },
      success: function(data){
        $('#modal-show-sm .modal-content').html(data.html_form);
      }
    });
  });
</script>

{% endblock %}
