{% extends 'waterworks/base.html' %}
{% load static %}
{% block 'barangay_active' %}active{% endblock %}
{% block 'maintenance_active' %}pcoded-trigger active{% endblock %}

{% block 'content' %}
<div class="col-md-12">
  <h5>{{title}}</h5>
  <hr>
  <div class="card" id="form">

  </div>
</div>

{% endblock %}


{% block 'script' %}

<script>
  function form_load(){
    $.ajax({
      url: '{% url 'waterworks_barangay_update_api' %}',
      data: {'id':{{barangay.id}}},
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#form').html(data.html_form);
      },
    });

  };
  form_load();
</script>

{% endblock %}
